<html>
<head>
    <title>User Profile Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-nav">
                <a class="nav-link" href="/signup">
                    <i class="bi bi-house-fill"></i>
                    Sign Up
                </a>
                <a class="nav-link" href="/picture">
                    <i class="bi bi-house-fill"></i>
                    Update Details
                </a>
                <div *ngIf="!driver">
                <a class="nav-link" href="/edit">
                    <i class="bi bi-house-fill"></i>
                    Edit Page
                </a>
        </div>
            <div *ngIf="driver">
                <a class="nav-link" href="/driver">
                    <i class="bi bi-house-fill"></i>
                    Driver Page
                </a>
            </div>
            </div>
        </div>
    </nav>
    <h1>Profile Page</h1>
    <form>
        @if(user.imageLink != ''){
            <div class="mb-3 row">
                <label for="Image"  class="col-sm-2 col-form-label">Image:</label>
                <div class="col-sm-10">
                    <img src="{{imageLink}}">
                </div>
            </div>
        } @else {
            <div class="mb-3 row">
                <label for="Image"  class="col-sm-2 col-form-label">Image:</label>
                <div class="col-sm-10">
                    <img src="https://static.thenounproject.com/png/5034901-200.png">
                </div>
            </div>
        }
        <div class="mb-3 row">
            <label for="NameInput"  class="col-sm-2 col-form-label">Name:</label>
            <div class="col-sm-10">
                <p>{{user.name}}</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="UsernameInput"  class="col-sm-2 col-form-label">Username:</label>
            <div class="col-sm-10">
                <p>{{user.username}}</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="PasswordInput"  class="col-sm-2 col-form-label">Password:</label>
            <div class="col-sm-10">
                <p>{{user.password}}</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="DescriptionInput"  class="col-sm-2 col-form-label">Description:</label>
            <div class="col-sm-10">
                <p>{{user.description}}</p>
            </div>
        </div>
        @if(user.isDriver){
            <div class="mb-3 row">
                <label for="TownInput"  class="col-sm-2 col-form-label">Town:</label>
                <div class="col-sm-10">
                    <p>{{user.town}}</p>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="StateInput"  class="col-sm-2 col-form-label">State:</label>
                <div class="col-sm-10">
                    <p>{{user.state}}</p>
                </div>
            </div>
            
            <div class="mb-3 row">
                <label for="StateInput"  class="col-sm-2 col-form-label">Car Model:</label>
                <div class="col-sm-10">
                    <p>{{user.carType}}</p>
                </div>
            </div>
        }
        
    </form>
    <div id="err" class="alert alert-danger">
    </div>
</body>
</html>