.second{
    display:none;
}
body{
    background-color:grey;
    height:100vh;
}
.col-form-label{
    font-weight:bold;
}
input{
    border-radius: 5px;
    border: 3px black solid;
    background: dimgray;
}
.alert{
    display:none;
}
